{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>亚运专项</title>
{% endblock %}
{% block content %}
    <div class="ershida_none">
        <div style="background-color: #2d4e76" class="jumbotron">
            <div style='text-align: center;color: #f3fafa'><h1>亚运专属平台技术保障组工作任务看板</h1></div>
        </div>
        <div style='text-align: center;'>
            <h4><img src="/static/images/jixiangwu.jpg"/>杭州亚运会倒计时：
                <span style="color:#c7254e" align="center" id="timer"></span>
            </h4>
        </div>
    </div>
    <div class="ershida_block" style="display: none;">
        <div class="jumbotron" style="background-color: darkcyan;">
            <div style='text-align: center;'><h1 style="color: whitesmoke;">亚运专项</h1></div>
        </div>
    </div>

    <div class="container">
        <div class="admin" style="display: none">
            <div style="margin-bottom:10px">
                <div style="float: right" class="col-lg-6">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" name="NAME" class="form-control" placeholder="按任务名称搜索">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                        </div><!-- /input-group -->
                    </form>
                </div><!-- /.col-lg-6 -->
                <a class="btn btn-primary" href="../task/add">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    添加任务
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                任务列表
            </div>

            <!-- Table -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">部门<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/zhuanxiang/?department=6">前端运维中心</a></li>
                                <li><a href="/zhuanxiang/?department=10">平台技术中心</a></li>
                                <li><a href="/zhuanxiang/?department=11">基础运维中心</a></li>
                                <li><a href="/zhuanxiang/?department=12">信息技术中心</a></li>
                                <li><a href="/zhuanxiang/?department=13">前端运维中心/基础运维中心</a></li>
                            </ul>
                        </li>
                    </th>
                    <th>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">任务名称<span class="caret"></span></a>
                        </li>
                    </th>
                    <th style="width: 5%">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">任务类型<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/zhuanxiang/?type=6">亚运建设</a></li>
                            </ul>
                        </li>
                    </th>
                    <th style="width: 35%">任务目标</th>
{#                    <th>#}
{#                        <a href="/index/?admin">负责人</a>#}
{#                    </th>#}
                    <th>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">计划完成时间<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/zhuanxiang/?month=1">1月</a></li>
                                <li><a href="/zhuanxiang/?month=2">2月</a></li>
                                <li><a href="/zhuanxiang/?month=3">3月</a></li>
                                <li><a href="/zhuanxiang/?month=4">4月</a></li>
                                <li><a href="/zhuanxiang/?month=5">5月</a></li>
                                <li><a href="/zhuanxiang/?month=6">6月</a></li>
                                <li><a href="/zhuanxiang/?month=7">7月</a></li>
                                <li><a href="/zhuanxiang/?month=8">8月</a></li>
                                <li><a href="/zhuanxiang/?month=9">9月</a></li>
                                <li><a href="/zhuanxiang/?month=10">10月</a></li>
                                <li><a href="/zhuanxiang/?month=11">11月</a></li>
                                <li><a href="/zhuanxiang/?month=12">12月</a></li>
                            </ul>
                        </li>
                    </th>
                    <th>任务进度</th>
                    <th class="admin_table" style="display: none">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td style="width: 4%" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}"
                            aria-expanded="false"
                            onclick="show_collapse('show_row{{ forloop.counter }}','#collapse{{ forloop.counter }}','{{ task.id }}','#subtable{{ forloop.counter }}')">
                            <span class="caret"></span> {{ forloop.counter }}</td>
                        <td style="width: 6%">{{ task.get_department_display }} </td>
                        <td style="width: 15%" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}"
                            aria-expanded="false"
                            onclick="show_collapse('show_row{{ forloop.counter }}','#collapse{{ forloop.counter }}','{{ task.id }}','#subtable{{ forloop.counter }}')">
                            {% if task.subtask_count > 0 %}
                                {{ task.task_name }}<span class="badge">{{ task.subtask_count }}</span>
                            {% else %}
                                {{ task.task_name }}
                            {% endif %}
                        </td>
                        <td>{{ task.get_task_type_display }} </td>
                        <td>{{ task.task_target }} </td>
{#                        <td style="width: 10%">{{ task.task_admin }} </td>#}
                        <td>{{ task.task_endline| date:"Y-m-d H:i:s" }}</td>
                        <td style="width: 15%">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="{{ task.status }}" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{ task.status }}">
                                    {{ task.status }}
                                </div>
                            </div>
                        </td>
                        <td class="admin_table" style="display: none">
                            <button id="btnAdd{{ forloop.counter }}" type="button" class="btn btn-info btn-xs"
                                    onclick="bindBtnAddEvent({{ task.id }})">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <a class="btn btn-primary btn-xs" href="../task/{{ task.id }}/edit/">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-danger btn-xs" href="../task/{{ task.id }}/delete/">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr id="show_row{{ forloop.counter }}" style="display: none">
                        <td colspan="8">
                            <div class="collapse" id="collapse{{ forloop.counter }}">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <td>序号</td>
                                        <td>子任务名称</td>
                                        <td style="width: 35%">子任务目标</td>
                                        <td>计划完成时间</td>
                                        <td>完成情况</td>
                                        <td class="admin" style="display: none">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody id="subtable{{ forloop.counter }}">
                                    <tr>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建子任务</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <form id="formAdd">
                            {% for field in form %}
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label> {{ field }}
                                        <span class="error-msg" style="color: red"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button id="btnSave" type="button" class="btn btn-primary">提 交</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/echarts.js' %}"></script>
    <script type="text/javascript">

        $(function () {
            go('2023-9-23 00:00:00');
        })

        // 倒计时
        var _ordertimer = null;
        var data = new Date();
        document.getElementById("date2").value = data.getFullYear() + '-' + (data.getMonth() + 1) + '-' + data.getDate() + ' ' + data.getHours() + ':' + data.getMinutes() + ':' + data.getSeconds();//当前时间
        function leftTimer(enddate) {
            var l
            leftTime = (new Date(enddate)) - new Date(); //计算剩余的毫秒数
            var days = parseInt(leftTime / 1000 / 60 / 60 / 24, 10); //计算剩余的天数
            var hours = parseInt(leftTime / 1000 / 60 / 60 % 24, 10); //计算剩余的小时
            var minutes = parseInt(leftTime / 1000 / 60 % 60, 10);//计算剩余的分钟
            var seconds = parseInt(leftTime / 1000 % 60, 10);//计算剩余的秒数
            days = checkTime(days);
            hours = checkTime(hours);
            minutes = checkTime(minutes);
            seconds = checkTime(seconds);
            if (days >= 0 || hours >= 0 || minutes >= 0 || seconds >= 0) document.getElementById("timer").innerHTML = days + "天" + hours + "小时" + minutes + "分" + seconds + "秒";
            if (days <= 0 && hours <= 0 && minutes <= 0 && seconds <= 0) {
                window.clearInterval(_ordertimer);
                _ordertimer = null;
            }
        }

        function checkTime(i) { //将0-9的数字前面加上0，例1变为01
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        function go(v) {
            var date1 = new Date(), data2 = new Date(v);
            if (data2 < date1) return;//设置的时间小于现在时间退出
            _ordertimer = setInterval(function () {
                leftTimer(data2)
            }, 1000);
        }

        function show_collapse(rowid, collapseid, taskid, subtableid) {
            var row = document.getElementById(rowid);
            if (row.style.display == "none") {
                row.style.display = "";
            } else {
                $(function () {
                    $(collapseid).on('hidden.bs.collapse', function () {
                        row.style.display = "none";
                    })
                });
            }
            $.ajax({
                url: '/index/',
                type: "post",
                data: {
                    nid: taskid
                },
                dataType: "JSON",
                success: function (res) {
                    $(subtableid).empty();
                    var $row = $("<tr></tr>");
                    for (var $i = 0; $i < res.length; $i++) {
                        var endline = new Date(res[$i].fields.subtask_endline).getTime();
                        var date = new Date().getTime();
                        var TimeDifference = endline - date;
                        if (sessionStorage.getItem('role') == "管理员") {
                            if (res[$i].fields.subtask_status == "已完成") {
                                $row.append($("<td>" + "<label class='checkbox-inline' ><input type='checkbox' id='Checkbox" + res[$i].pk + "'  checked onclick='bindBtnUndoEvent(" + res[$i].pk + ")'>" + $i + "</label>" + "</td>"));
                            } else {
                                $row.append($("<td>" + "<label class='checkbox-inline' ><input type='checkbox' id='Checkbox" + res[$i].pk + "'  onclick='bindBtnDoneEvent(" + res[$i].pk + ")'>" + $i + "</label>" + "</td>"));
                            }
                        } else {
                            if (res[$i].fields.subtask_status == "已完成") {
                                $row.append($("<td>" + "<label class='checkbox-inline' ><input type='checkbox' style='display: none' id='Checkbox" + res[$i].pk + "'  checked onclick='bindBtnUndoEvent(" + res[$i].pk + ")'>" + $i + "</label>" + "</td>"));
                            } else {
                                $row.append($("<td>" + "<label class='checkbox-inline' ><input type='checkbox' style='display: none' id='Checkbox" + res[$i].pk + "'  onclick='bindBtnDoneEvent(" + res[$i].pk + ")'>" + $i + "</label>" + "</td>"));
                            }
                        }
                        $row.append($("<td>" + res[$i].fields.subtask_name + "</td>"));
                        $row.append($("<td>" + res[$i].fields.subtask_target + "</td>"));
                        if (TimeDifference < 0 & res[$i].fields.subtask_status == "未完成") {
                            $row.append($("<td>" + res[$i].fields.subtask_endline + "<span class='label label-danger'>已逾期</span> </td>"));
                        } else {
                            $row.append($("<td>" + res[$i].fields.subtask_endline + "</td>"));
                        }
                        $row.append($("<td id=SubtaskStatus" + res[$i].pk + ">" + res[$i].fields.subtask_status + "</td>"));
                        if (sessionStorage.getItem('role') == "管理员") {
                            $row.append($("<td class='admin'>" + "<input class='btn btn-danger btn-xs' type='button' value='删除' onclick='bindBtnDeleteEvent(" + res[$i].pk + ")'>" + "</td>"));
                        }
                        $(subtableid).append($row);
                        var $row = $("<tr></tr>");
                    }
                }
            })
        }

        function bindBtnAddEvent(taskid) {
            $('#myModal').modal('toggle');
            $("#btnSave").click(function () {
                $(".error-msg").empty();
                $.ajax({
                    url: '/subtask/add/',
                    type: "post",
                    data: $("#formAdd").serialize() + '&' + $.param({'task_id': taskid}),
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res)
                        if (res.status) {
                            $('#myModal').modal('toggle');
                            $("#formAdd")[0].reset();
                            location.reload();
                        } else {
                            $.each(res.error, function (name, errorList) {
                                $("#id_" + name).next().text(errorList[0]);
                            })
                        }
                    }
                })
            });
        }

        function bindBtnDeleteEvent(subtask_id) {
            $.ajax({
                url: "/subtask/delete/",
                type: "GET",
                data: {
                    uid: subtask_id
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        location.reload();
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function bindBtnDoneEvent(subtask_id) {
            $.ajax({
                url: "/subtask/done/",
                type: "GET",
                data: {
                    uid: subtask_id
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        var SubtaskStatus = "SubtaskStatus" + subtask_id
                        var Checkbox = "Checkbox" + subtask_id
                        $("td[id=" + SubtaskStatus + "]").html("已完成");
                        $("input[id=" + Checkbox + "]").removeAttr("onclick").attr("onclick", "bindBtnUndoEvent(" + subtask_id + ")")
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function bindBtnUndoEvent(subtask_id) {
            $.ajax({
                url: "/subtask/done/",
                type: "POST",
                data: {
                    uid: subtask_id
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        var SubtaskStatus = "SubtaskStatus" + subtask_id
                        var Checkbox = "Checkbox" + subtask_id
                        $("td[id=" + SubtaskStatus + "]").html("未完成");
                        $("input[id=" + Checkbox + "]").removeAttr("onclick").attr("onclick", "bindBtnDoneEvent(" + subtask_id + ")")
                    } else {
                        alert(res.error);
                    }
                }
            })
        }
    </script>
{% endblock %}